<launch>
  <arg name="port" default="/dev/ttyUSB0" />

  <!-- When you integrate into your platform, use the provided xacro macro to include
       the D46 URDF with your larger platform description, and have your platform's
       joint_state_publisher subscribe to the ptu state. -->
  <param name="robot_description" textfile="$(find flir_ptu_description)/urdf/example.urdf" /> 
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <node name="ptu_driver" pkg="flir_ptu_driver" type="ptu_node" ns="ptu">
    <!-- FLIR PTU "connection_type" is either tty or tcp. 
    	if "tcp", it will use "ip_addr" and "tcp_port" for the connection.
    	Otherwise, it will use the tty "port" params --> 
    <param name="connection_type" value="tcp" /> 
    <param name="ip_addr" type="str" value="192.168.40.195" /> 
    <param name="tcp_port" type="int" value="4000" /> 
    <param name="port" value="$(arg port)" /> <!-- like "/dev/ttyUSB0" >
    <remap from="state" to="/joint_states" />
  </node>
</launch>
