<launch>
  <arg name="port"           default="/dev/ptu" /> <!-- Suggest using Udev rules to make a consistent serial port -->
  <arg name="limits_enabled" default="false" />    <!-- Disable software range limits by setting to false -->
  <arg name="stand_alone"    default="false" />    <!-- Set to true to load description & start state publisher -->
  <arg name="connection_type" default="tty" /> <!-- either tcp (uses ip_addr and tcp_port) or tty (uses tty port) -->
  <arg name="ip_addr" default="192.168.131.70" />
  <arg name="tcp_port" default="4000" />

  <!-- When you integrate into your platform, use the provided xacro macro to include
       the D46 URDF with your larger platform description, and have your platform's
       joint_state_publisher subscribe to the ptu state. -->
  <group if="$(arg stand_alone)">
    <param name="robot_description" textfile="$(find flir_ptu_description)/urdf/example.urdf" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  </group>

  <node name="ptu_driver" pkg="flir_ptu_driver" type="ptu_node" ns="ptu" output="screen">
    <param name="limits_enabled" value="$(arg limits_enabled)" />
    <param name="test_pan_tilt_mode" type="bool" value="false"/>  <!-- test mode sends random pan/tilt every few secs -->
    <param name="connection_type" type="str" value="$(arg connection_type)" />
    <param name="port" value="$(arg port)" />                     <!-- tty port, like "/dev/ttyUSB0" -->
    <param name="ip_addr" type="str" value="$(arg ip_addr)" />
    <param name="tcp_port" type="int" value="$(arg tcp_port)" />

    <remap from="state" to="/joint_states" />
  </node>
</launch>
